body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button, #logo {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin: .5rem;
}